PORT=3500
NODE_ENV=development

VERBOSITY='debug'


ENTRY_POINT_ADDRESS=0x0000000071727De22E5E9d8BAf0edAc6f37da032
PAYMASTER_ADDRESS=0x064Fbec1c03eC4004E7f9ADc5FAe2e2fB1857064
CHAIN_ID=1337

PROVIDER_URL=http://127.0.0.1:8545
BUNDLER_URL=http://127.0.0.1:3000/rpc

TIME_RANGE_UNTIL=600
TIME_RANGE_AFTER=60

PM_POST_OP_GAS_LIMIT=40000
PM_VERIFICATION_GAS_LIMIT=30000
PM_SIGNER_PK=